<div class="cv-wrapper">
  <canvas #canvas></canvas>

  <div *ngIf="selectedPlanet" class="popup">
    <h3 *ngIf="selectedPlanet.label">{{ selectedPlanet.label }}</h3>
    <h2>{{ selectedPlanet.name }}</h2>

    <div *ngIf="selectedPlanet.name === 'Contact'; else defaultContent">
      <div>
        <a href="mailto:dianadurbaca2003@gmail.com" target="_blank">
          Email: dianadurbaca2003&#64;gmail.com
        </a>
      </div>
      <div>
        <a href="https://github.com/Durbace" target="_blank">
          GitHub: github.com/durbacadiana
        </a>
      </div>
      <div>
        <a
          href="https://www.linkedin.com/in/diana-elena-durbacă-065473286"
          target="_blank"
        >
          LinkedIn: linkedin.com/in/durbacadiana
        </a>
      </div>
    </div>

    <ng-template #defaultContent>
      <ul *ngIf="selectedPlanet.name === 'Technical Skills'; else otherContent">
        <li>Frontend with Angular (Material, PrimeNG)</li>
        <li>CI/CD (GitHub Actions, ArgoCD)</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>RxJS</li>
        <li>API Integration</li>
        <li>Git</li>
        <li>Firebase</li>
      </ul>

      <ng-template #otherContent>
        <div
          *ngIf="selectedPlanet.name === 'Personal Projects'; else regularText"
        >
          <ul>
            <li>
              <a href="https://github.com/Durbace/Weather-App" target="_blank"
                >Weather App</a
              >
              (Angular + Firebase)
            </li>
            <li>
              <a
                href="https://github.com/Durbace/Liceu-Bac-PrimeNG_App"
                target="_blank"
                >Liceu Bac PrimeNG App</a
              >
              (PrimeNG + Angular + Node.js)
            </li>
            <li>
              <a
                href="https://github.com/Durbace/Expense-Tracker"
                target="_blank"
                >Expense Tracker (Web)</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Durbace/Expense-Tracker-Mobile-App"
                target="_blank"
                >Expense Tracker (Mobile)</a
              >
              (web with Angular + mobile with Flutter, backend with Node.js +
              MongoDB)
            </li>
            <li>
              <a href="https://github.com/Durbace/Sudoku" target="_blank"
                >Sudoku</a
              >
              (C++ with Qt)
            </li>
            <li>
              <a href="https://github.com/Durbace/PythonEchoNet" target="_blank"
                >Python EchoNet</a
              >
              (Python + Echo Server + Docker + Kubernetes + GitHub Actions)
            </li>
          </ul>
        </div>

        <ng-template #regularText>
          <p>{{ selectedPlanet.description }}</p>
        </ng-template>
      </ng-template>
    </ng-template>

    <button (click)="selectedPlanet = null">Close</button>
  </div>
</div>
