<div class="page-container">
  <div class="overlay">
    <button class="back-btn" (click)="goBack()">
      <svg viewBox="0 0 24 24" class="back-icon">
        <path
          d="M15 18L9 12L15 6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <div class="title">
      <div class="title-texts">
        <h1 class="subtitle">Explore</h1>
        <h1 class="main-title">The Planets</h1>
      </div>
    </div>
  </div>

  <div class="planet-viewer">
    <div class="slider" #wrap>
      <div
        class="track"
        #track
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
      >
        <article
          class="project-card"
          *ngFor="let planet of planetsData; let i = index"
          [attr.active]="i === activeIndex ? true : null"
          (mouseenter)="activate(i)"
          (click)="activate(i)"
        >
          <img
            class="project-card__bg"
            [src]="planet.texture"
            [alt]="planet.label + ' background'"
          />
          <div class="project-card__content">
            <div class="project-card__info">
              <div class="project-card__header">
                <div class="planet-3d" #planetCanvas></div>
                <h3 class="project-card__title">{{ planet.label }}</h3>
              </div>

              <div
                *ngIf="
                  planet.name === 'Contact' && i === activeIndex;
                  else defaultDesc
                "
                class="contact-icons"
              >
                <a
                  href="mailto:dianadurbaca2003@gmail.com"
                  target="_blank"
                  title="Send me an Email"
                >
                  <i class="fas fa-envelope"></i>
                </a>
                <a
                  href="https://github.com/Durbace"
                  target="_blank"
                  title="View my GitHub"
                >
                  <i class="fab fa-github"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/diana-elena-durbacă-065473286"
                  target="_blank"
                  title="Visit my LinkedIn"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>

              <ng-template #defaultDesc>
                <ul
                  class="project-card__desc"
                  *ngIf="getDescItems(planet)?.length"
                >
                  <li *ngFor="let item of getDescItems(planet)">{{ item }}</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="dots">
      <span
        class="dot"
        *ngFor="let _ of planetsData; let i = index"
        [class.active]="i === activeIndex"
        (click)="activate(i)"
      >
      </span>
    </div>
  </div>
</div>
